/* BEGIN CODE HERE */
/* frame 1 */
.container-fluid{
    height: 150px;
}
.d-flex{
    margin-right: 100px;
}
.logo{
    margin-left:100px;
}
.container {
    margin-top:50px;
    width: 1200px;
    height: 400px;
}


/* .col{
    width: 600px;
    height: 400px;
} */
/* frame 2 */
.double_frames{
    background: red;
    width: 300px;
    height: 200px;
}

.row2{
    width: 300px;
    height: 200px;
}
#right{
    width: 300px;
    height: 200px;
    text-align: right;
    
}
.bottom{
    position: relative;
    height:25px;
    top:175px;
    /* border: solid 3px #78e382;; */
}
#left{

    width: 300px;
    height: 200px;
    text-align: left;
    
}
.center{
    position: relative;
    height:25px;
    top:100px;
    /* border: solid 3px #78e382; */

}


#id1{
    width: 600px;
    height: 400px;
}

#id2{
    width: 300px;
    height: 400px;
}
#id3{
    width: 300px;
    height: 200px;
}
/* END CODE HERE */


